{
  "overrides": [
    {
      "files": "packages/*",
      "options": {
        "semi": true,
        "tabWidth": 2,
        "printWidth": 100,
        "singleQuote": false,
        "jsxSingleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    }
  ]
}
