/* Device=Desktop, Page=Login, State=Default */
@use "../../../styles/variables" as *

.loginForm
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 15px
  padding: 50.5px 20px
  width:360px 
  background: #FFFFFF
  border-radius: 10px
  @include mq("small")
    padding: 50.5px 60px
    max-width: 440px
    min-width: 360px
    width: 100%
  &_icon
    width: 128px
    height: 101px

  &_form
    display: flex
    flex-direction: column
    gap: 15px
  &_group
    display: flex
    flex-direction: column
    padding: 9px

  &_error
    padding: 2px 0
    height: 17px

  &_politics
    display: flex
    justify-content: space-between
    font-size: 14px
    line-height: 17px

    & a
      color: $primary-black
      text-decoration: none
      &:hover
        text-decoration: underline


