@use "../../../ui/styles/variables" as *

.menulist
  text-decoration: none
  display: flex
  justify-content: right
  align-items: center
  gap: 1rem
  font-size: 1rem
  line-height: 1.188rem
  width: 100%

  @include mq("mobile")
    justify-content: center

  &_link
    color: $greyscale-black
    text-decoration: none
    display: flex
    justify-content: end
    align-items: center
    gap: 0.5rem
    width: 127px
    height: 32px

    & .icon
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      padding: 11.5px
      box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.2)

    &:hover
      & .icon
        background: $primary
        color: $triarty-white

    @include mq("mobile")
      flex-direction: column-reverse
      justify-content: center
      width: 128px
      height: 87px

  &.fluid
    padding: 0
    & .menulist_link
      width: 100%
      flex-grow: 1

      @include mq("mobile")
        width: 100%
        flex-grow: 1
